.Task {
  &__owner {

  }

  &__owner-image {
    border-radius: 0.25rem;
    width: 2rem;
    height: 2rem;

    &--small {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__owner-text {

  }
}
